.App {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.centralized {
  width: 85%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-airport-name {
  font-size: 26px;
}

.content {

}