.App {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.margin {
  width: 70%;
  height: 100%;
}

.header {
  display: flex;
  margin-top: 55px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.header-gauges {
  display: flex;
}

.header-airport-name {
  font-size: 33px;
  opacity: 0.65;
}

.content {

}

.gauge {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.gauge .ant-progress-text {
  font-size: 12px !important;
}

.gauge-name {
  margin-bottom: 3px;
  font-size: 11px;
  text-align: center;
  opacity: 0.45;
}

.progress-bar .ant-progress-text {
  font-size: 10px;
  opacity: 0.6;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}