.App {
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  display: flex;
  justify-content: center;
}

.centralized {
  width: 85%;
  height: 100%;
}

.header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-airport-name {
  font-size: 26px;
}

.content {

}

.gauge {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.gauge .ant-progress-text {
  font-size: 12px !important;
}

.gauge-name {
  margin-bottom: 3px;
  font-size: 11px;
  text-align: center;
  opacity: 0.4;
}

.progress-bar .ant-progress-text {
  font-size: 10px;
  opacity: 0.6;
}